<div class="banner">
  <div class="banner-content">
    <h1>LET'S HAVE A DRINK!</h1><br>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    <p>Find the best cocktails on MrCocktail</p><br><br>
  </div>
</div>
