body{
  background: linear-gradient(to right, #7a3330, #673ab7);
  font-family: 'Lora', serif;
}
.container-top{
  padding-top:100px;
}
h2{
  text-align: center;
  color: black;
  font-weight: 600;
}
